<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true">

  <targets>
    <target xsi:type="ColoredConsole" name="console"
      layout="${pad:padding=5:inner=${level:uppercase=true}} | ${date} | ${logger} | ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>